{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Contacts{% endblock title %}

{% block content %}
<h1>Contacts Page</h1>

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <h2>Conatct Us</h2>
            <p>Property Listing</p>
            <p>Property Listing</p>
            <p>Property Listing</p>
        </div>

        <div class="col">
            <h2> Leave a Mesaage </h2>

            <p>Contact Form</p>
        </div>
    </div>

    {% endblock content %}